export(binaryRegulation)
export(multieleRegulation)
export(BioRegElePrioritization)
export(eQTLsDetection)
export(eQTLsNetVis)
export(eQTLsRegStat)
export(eQTLsSingleEleStat)
export(regNetVis)
export(regStat)
export(regVarDetection)
export(regVarNetVis)
export(regVarStat)
export(dataInitialize)
export(NetLCPGUI)
importFrom(Matrix, colSums)
importFrom(Rcpp, sourceCpp)
importFrom(dplyr, "%>%", select, filter, left_join, rename, distinct)
importFrom(stats, pnorm, quantile, sd)
importFrom(visNetwork, visNetwork, visIgraphLayout, visOptions)
importFrom(plotly, plot_ly, plotlyOutput)
importFrom(utils, memory.limit, setTxtProgressBar, txtProgressBar)
importFrom(shiny, shinyApp, h3)
importFrom(plotly, plot_ly, layout, add_trace)
importFrom(bslib, bs_theme)
importFrom(crayon, green, red)
